<HTML>
		<head>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
			<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	</head>
  <BODY>
		{% include 'register_send_token/js.html' %}
		{% include 'register_send_token/css.html' %}
		<div class="split left">
		  <div class="centered">
		  	<div><b>Register</b></div>
		  	<div style="font-size: 10px">Please fill in the following details to register</div><br>
			<div class="form-group">
			  <input name="email" type="text" class="form-control" id="email" placeholder="Email">
			</div>
			<div class="form-group">
			  <select name="role" type="text" class="form-control" id="role" placeholder="Profile Group">
				<option>Clinic Manager</option>
				<option>Warehouse Personnel</option>
				<option>Dispatcher</option>
			  </select>
			</div>
			  <button id="register" name="register" type="button" class="btn btn-primary">REGISTER</button>
		  </div>
		</div>

		<div class="split right">
			{% include 'sections/poster/index.html' with imageLink="../photos/ui/image2.jpeg" %}
		</div>

  </BODY>
</HTML>
