<script>

	$(document).ready(() => {

		$.ajaxSetup({
			beforeSend: (xhr, settings) => {
				function getCookie(name) {
					var cookieValue = null;
					if (document.cookie && document.cookie != '') {
						var cookies = document.cookie.split(';');
						for (var i = 0; i < cookies.length; i++) {
							var cookie = jQuery.trim(cookies[i]);
							if (cookie.substring(0, name.length + 1) == (name + '=')) {
								cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
								break;
							}
						}
					}
					return cookieValue;
				}
				if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
					xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
				}
			}
		 });

		$("#register").click((evt) => {
			let email = $('#email').val();
			let role = $('#role').val();
			if (!email || !role) {
				alert('empty fields');
				return;
			}
			$.ajax({
				type: 'POST',
				url: '/app/RegisterSendToken/',
				traditional: true,
				dataType: 'html',
				data: {
					email: $('#email').val(),
					role_choices: $('#role').val(),
				},
				success: (result) => {
					result = JSON.parse(result);
					if (result.success) {
						alert("Token Sent");
						location.reload();
					} else {
						alert("Problem in creating token and sending");
						location.reload();
					}
				}
			});
		});
	});

</script>
