<HTML>
	<head>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	</head>
  <BODY>
		{% include 'js.html' %}
		{% include 'css.html' %}
	<h2>Browse Items And Select</h2>
	<table>
		{% for item in item_list %}
			<tr>
				<td><input type="checkbox" id="{{ item.id }}" data-name="{{ item.name }}" data-weight='{{ item.weight }}'/></td>
				<td>{{ item.id }}</td>
				<td>{{ item.name }}</td>
				<td>{{ item.category.name }}</td>
				<td>{{ item.weight }} kg</td>
				<td><img src="{{ item.image }}"/></td>
			</tr>
		{% endfor %}
	</table>

	<br>

	<div id="cart" >
		<h2>Cart</h2>
	</div>

	<br>
	<div id="showWeight">
		Maximum weight is 25 kg.<br>
		<p id="currentWeight"></p>
	</div>

	<br>

	<input id="submitButton" type="submit" value="Submit" class="show" />
	<p id="warning" class="hide">Your weight exceeds the Maximum loading capacity of the drone</p>

  </BODY>
</HTML>
