<script>

	$(document).ready(() => {

		$.ajaxSetup({
			beforeSend: (xhr, settings) => {
				function getCookie(name) {
					var cookieValue = null;
					if (document.cookie && document.cookie != '') {
						var cookies = document.cookie.split(';');
						for (var i = 0; i < cookies.length; i++) {
							var cookie = jQuery.trim(cookies[i]);
							if (cookie.substring(0, name.length + 1) == (name + '=')) {
								cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
								break;
							}
						}
					}
					return cookieValue;
				}
				if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
					xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
				}
			}
		 });

		$("#register").click((evt) => {

			$.ajax({
				type: 'POST',
				url: '/app/registration/',
				traditional: true,
				dataType: 'html',
				data: {
				    firstName: $('#firstname').val(),
				    lastName: $('#lastname').val(),
					email: $('#email').val(),
					role: $('#role').val(),
					clinicName: $('#clinicName').val(),
					username: $('#username').val(),
					password: $('#password').val(),
				},
				success: (result) => {
					alert("Registration sent!");
					window.location.replace("http://localhost:8000/app/");
				}
			});
		});
	});

</script>
