<script>

	$(document).ready(() => {

		$.ajaxSetup({
			beforeSend: (xhr, settings) => {
				function getCookie(name) {
					var cookieValue = null;
					if (document.cookie && document.cookie != '') {
						var cookies = document.cookie.split(';');
						for (var i = 0; i < cookies.length; i++) {
							var cookie = jQuery.trim(cookies[i]);
							if (cookie.substring(0, name.length + 1) == (name + '=')) {
								cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
								break;
							}
						}
					}
					return cookieValue;
				}
				if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
					xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
				}
			}
		 });

		$("#register").click((evt) => {
			let firstName = $('#firstname').val();
			let lastName = $('#lastname').val();
			let email = $('#email').val();
			let role = $('#role').val();
			let clinicName = $('#clinicName').val();
			let username = $('#username').val();
			let password: $('#password').val();
			let reEnterPassword: $('#reEnterPassword').val();

			if (!firstName || !lastName || !username || !password || (need_clinic_location && !clinicName)) {
				alert('empty fields');
				return;
			}
			if (password != reEnterPassword) {
				alert('passwords doesnt match');
				return;
			}

			$.ajax({
				type: 'POST',
				url: '/app/registration/',
				traditional: true,
				dataType: 'html',
				data: {
				  firstName: firstName,
				  lastName: lastName,
					email: email,
					role: role,
					clinicName: clinicName,
					username: username,
					password: password,
				},
				success: (result) => {
					result = JSON.parse(result);
					if (result.success) {
						alert("Registration sent!");
						window.location = result.pageLink;
					} else {
						alert(result.reason);
					}
				}
			});
		});
	});

</script>
