<script>

	$(document).ready(() => {

		var max_weight = 25;
		var total_weight = 1.2;
		var cart = [];

		$('input:checkbox').click(function(evt) {
			console.log($(this).attr('id'), "inside input checkbox function");
			if ($(this).is(":checked")) {
				addOrder($(this).attr('id'), parseFloat($(this).attr('data-weight')));
			} else {
				deleteOrder($(this).attr('id'), parseFloat($(this).attr('data-weight')));
			}
			updateWeightBox()
		});

		function addOrder(id, weight) {
			if (total_weight + weight > max_weight) {
				alert('Exceed Maximum weight!');
				$('#' + id).attr('checked', false);
			}else{
				cart.push(id);
				total_weight = total_weight + weight;
				return true;
			}
		}

		function deleteOrder(delete_id, weight){
			total_weight = total_weight - weight;
			cart = cart.filter( (id) => {
    			return id !== delete_id;
			});
		}

		function updateWeightBox(){
			$('#weight-show').html(total_weight.toFixed(2));
		}

		$.ajaxSetup({
			beforeSend: (xhr, settings) => {
				function getCookie(name) {
					var cookieValue = null;
					if (document.cookie && document.cookie != '') {
						var cookies = document.cookie.split(';');
						for (var i = 0; i < cookies.length; i++) {
							var cookie = jQuery.trim(cookies[i]);
							if (cookie.substring(0, name.length + 1) == (name + '=')) {
								cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
								break;
							}
						}
					}
					return cookieValue;
				}
				if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
					xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
				}
			}
		 });

		$(".loadDrone").click((evt) => {
			let id = parseInt($(evt.target).attr('data-order-id'));
			// function to select top orders until weight permits
			// and then post request for it
			$.ajax({
				type: 'POST',
				url: '/app/OrdersToBeLoaded/',
				traditional: true,
				dataType: 'html',
				data: {
					'orderIds[]': cart,
					event: 'LOAD_INTO_DRONE'
				},
				success: (result) => {
					result = JSON.parse(result);
					if (result.success) {
						$('#buttonDiv').removeClass('hide');
						$('#buttonDiv').addClass('show');
						$('#shippment-id').html(result.shipmentId);
					} else {
						alert(result.reason)
					}
				}
			});
		});

		$("#viewShippmentButton").click((evt) => {

			let id = $('#shippment-id').html();

			$.ajax({
				type: 'POST',
				url: '/app/OrdersToBeLoaded/',
				traditional: true,
				dataType: 'json',
				data: {
					shippmentId: id,
					event: 'DOWNLOAD',
				},
				success: (result) => {
					if (!result.success) {
						alert(result.reason);
						return;
					}
					const rows = result.totalData;
          let csvContent = "data:text/csv;charset=utf-8,";
          rows.forEach(function(rowArray){
             let row = rowArray.join(",");
             csvContent += row + "\r\n";
          });
					let encodedUri = encodeURI(csvContent);
					let link = document.createElement("a");
          link.setAttribute("href", encodedUri);
          link.setAttribute("download", "shipment.csv");
          document.body.appendChild(link); // Required for FF
          link.click();
				}
			});
		});

		$("#viewProfile").click(() => {
			window.location='/app/Profile/';
		});

		// $("#loadButton").click(() => {
		// 	// update the record
		// 	window.location='/app/OrdersToBeLoaded/';
		// });
	});

</script>
