<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>

	$(document).ready(() => {

		$.ajaxSetup({
			beforeSend: (xhr, settings) => {
				function getCookie(name) {
					var cookieValue = null;
					if (document.cookie && document.cookie != '') {
						var cookies = document.cookie.split(';');
						for (var i = 0; i < cookies.length; i++) {
							var cookie = jQuery.trim(cookies[i]);
							if (cookie.substring(0, name.length + 1) == (name + '=')) {
								cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
								break;
							}
						}
					}
					return cookieValue;
				}
				if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
					xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
				}
			}
		 });

		$("#registerPage").click((evt) => {
			$.ajax({
				type: 'GET',
				url: '/app/registerSendToken',
				traditional: true,
			});
		});

		$("#login").click((evt) => {
			$.ajax({
				type: 'POST',
				url: '/app/',
				traditional: true,
				dataType: 'json',
				data: {
				    username: $('#username').val(),
					password: $('#password').val(),
				},
				success: (result) => {
					if (result.status == "Success") {
					    if (result.role == "CLINIC_MANAGER")
					        window.location.replace("http://localhost:8000/app/items");
					    else if (result.role == "WAREHOUSE_PERSONNEL")
					        window.location.replace("http://localhost:8000/app/OrdersToBeProcessed");
					    else if (result.role == "DISPATCHER")
					        window.location.replace("http://localhost:8000/app/OrdersToBeLoaded");
					}
					else {
					    alert("Login Unsuccessful");
					    location.reload();
					}
				}
			});
		});
	});

</script>
