<HTML>
	<head>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	</head>
  <BODY>
		{% include 'browse_items/js.html' %}
		{% include 'browse_items/css.html' %}
		{% include 'sections/navBar/index.html' %}
		<div id = "heading">
			<h2 id="mainHeading">Browse Items And Select</h2>
			<button id="viewOrdersButton" type="button" name="viewOrders" class="btn btn-primary"> View Dispatched Orders </button>
			<h5>Clinic: {{ clinic_name }}</h5>
		</div>
		<br/>
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col"></th>
					<th scope="col">ID</th>
					<th scope="col">Name</th>
					<th scope="col">Category</th>
					<th scope="col">Weight</th>
					<th scope="col">Image</th>
				</tr>
			</thead>
			<tbody>
				{% for item in item_list %}
					<tr>
						<td><input type="checkbox" id="{{ item.id }}" data-name="{{ item.name }}" data-weight='{{ item.weight }}'/></td>
						<td>{{ item.id }}</td>
						<td>{{ item.name }}</td>
						<td>{{ item.category.name }}</td>
						<td>{{ item.weight }} kg</td>
						<td><img src="/{{item.image}}" height="80" width="80"></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<br>

		<div id="cart" >
			<h2>Cart</h2>
		</div>

		<br>
		<div id="showWeight">
			Maximum weight is 23.8 kg.<br>
			<p id="currentWeight"></p>
		</div>

		<br>

		<div class="show">
			<label>Select Priority:</label>
			<select id="priority_select" class="form-control">
				<option value="3">HIGH</option>
				<option value="2">MEDIUM</option>
				<option value="1">LOW</option>
			</select>
			<br/>
			<input id="submitButton" type="submit" value="Submit" class="btn btn-success" />
		</div>
		<p id="warning" class="hide p-3 mb-2 bg-danger text-white">Your weight exceeds the Maximum loading capacity of the drone</p>

	</BODY>
</HTML>
